*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

#headerClass{
    background-image: url(./Image/architecture.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-content {
    background-color: #fff; /* Couleur de fond blanche */
    padding: 20px; /* Espacement autour du contenu */
    text-align: center;
}

.logo a {
    font-weight: bold; /* Gras pour le nom */
    color: #000; /* Couleur noire */
    text-decoration: none; /* Supprimer le soulignement */
}

.logo .role {
    font-weight: normal; /* Texte fin pour "Student Engineer" */
    color: #000; /* Noir aussi */
    margin-left: 5px; /* Petit espacement entre le nom et le rôle */
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px; 
}

.menu {
    background-color: #0056b3; /* Couleur de fond blanche pour le menu */
    padding: 15px; /* Espacement autour des éléments du menu */
    margin-top: 10px; /* Espacement au-dessus du menu */
    width: 100%;
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: #ffffff ;
    padding: 10px 20px;
    text-transform: uppercase;
    margin : 0 10px;
    font-weight: 500;
}

/* AAAAA */

.background {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 100vh; /* Hauteur de la page */
}

.blue-rectangle {
    margin-top: 20px ;
    background-color: #007BFF; /* Couleur bleu */
    padding: 20px;
    width: 30%; /* Largeur du rectangle bleu */
    border-radius: 8px; /* Coins arrondis */
    color: white;
    position: relative;
    height: 500px
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-picture {
    width: 250px; /* Largeur de l'image */
    height: 250px; /* Hauteur de l'image */
    border-radius: 50%; /* Rendre l'image ronde */
    object-fit: cover; /* Adapter l'image dans le cercle */
}

.name {
    margin-top: 40px;
    font-size: 24px; /* Augmentez la taille du texte pour le nom */
    margin: 10px 0; /* Espacement autour du nom */
    font-family: 'Montserrat', sans-serif;
}

.PFseparator {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.6); /* Ligne de séparation légère en blanc */
    margin: 10px 0; /* Espacement autour de la ligne */
}

.PFdescription {
    margin-top: 40px ;
    font-size: 24px; /* Taille du texte pour la description */
    margin-top: 40px; /* Espacement autour de la description */
    font-family: 'Montserrat', sans-serif;
}
.description {
    text-align: center;
}

.beige-rectangle {
    margin-top: 50px ;
    background-color: #F5F5DC; /* Couleur beige */
    padding: 150px;
    width: 50%; /* Largeur du rectangle beige */
    border-radius: 8px; /* Coins arrondis */
}

.RBmajor-title {
    font-size: 80px; /* Très grand titre */
    margin: 5px 0; /* Espacement autour du titre */
    
}

.RBdescription {
    font-size: 20px; /* Un peu plus grand que la taille normale */
    margin-top: 10px; /* Espacement autour de la description */
    font-family: 'Roboto', sans-serif;
}


.contact-band {
    background-color: #333; /* Couleur de fond de la bande de contact */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Positionner en bas */
    bottom: 0;
    width: 100%;
    clear: both;
}

.contact-band a {
    color: white;
    margin: 0 10px;
    text-decoration: none; /* Enlever le soulignement des liens */
}

.contact-band a:hover {
    text-decoration: underline; /* Souligner au survol */
}

.TitreContact {
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.TitreEC{
    text-align: center;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

.TitreN7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;

}

.TitreArsonval {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.imageArsonval {
    display: flex;
    justify-content: center;
}

.STImage {
    font-style: italic; /* Rend le texte en italique */
    opacity: 0.7; /* Rend le texte légèrement transparent (0.7 = 70% opaque) */
    color: #333; /* Tu peux ajuster la couleur du texte si nécessaire */
    text-align: center;
    margin-bottom: 40px ;
}

.STImage2 {
    font-style: italic; /* Rend le texte en italique */
    opacity: 0.7; /* Rend le texte légèrement transparent (0.7 = 70% opaque) */
    color: #333; /* Tu peux ajuster la couleur du texte si nécessaire */
    text-align: center;
}

.descriptionDAR {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #333;
}

.imageN7 {
    display: flex;
    justify-content: center;
}

.school-image {
    width: 600px; /* Taille de l'image réduite */
    height: auto;
    margin-bottom: 20px;
    align-items: center;
}

.descriptionN7 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: #333;
}

.TitreSemester {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    text-align: left; /* Aligne à gauche */
    margin-left: 20%; /* Décale vers le centre (ajuste cette valeur selon le besoin) */
    font-size: 28px; /* Taille du texte pour le titre */
    margin-bottom: 10px; /* Ajoute un espacement en dessous du titre */
}

.descriptionSemester {
    font-family: 'Roboto', sans-serif;
    margin-left: 20%; /* Aligne la description avec le titre */
    line-height: 1.6; /* Espace entre les lignes pour faciliter la lecture */
    font-size: 18px; /* Taille du texte pour la description */
    white-space: pre-line; /* Respecte les retours à la ligne dans le HTML */
}

/*--------------------------------------------------------------------------------------------------------------------*/

.TitreC{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

/* Container de la section Career */
.career-section {
    text-align: center;
    margin-top: 30px;
    width: 80%;
    margin-left: auto; /* Centre la section horizontalement */
    margin-right: auto;
}

/* Style pour le titre de la section Career */
.career-title {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

.CVtexte {
    font-family: 'Roboto', sans-serif;
}

.green-rectangle {
    background-color: #4CAF50; /* Couleur de fond verte */
    padding: 20px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    max-width: 600px; /* Largeur maximale du rectangle */
    margin: 20px auto; /* Centrer le rectangle horizontalement */
    text-align: center; /* Centrer le texte à l'intérieur */
}

.cv-links p {
    margin: 0 0 10px; /* Espacement entre le texte et les boutons */
    color: white; /* Couleur du texte */
    font-size: 18px; /* Taille de la police */
}

.btn {
    text-decoration: none; /* Pas de soulignement sur les liens */
    padding: 10px 20px; /* Espacement intérieur des boutons */
    margin: 0 5px; /* Marges entre les boutons */
    border-radius: 5px; /* Coins arrondis pour les boutons */
    display: inline-block; /* Affichage en ligne pour les boutons */
}

.btn-french {
    background-color: white; /* Couleur de fond du bouton français */
    color: #4CAF50; /* Couleur du texte du bouton français */
}

.btn-english {
    background-color: black; /* Couleur de fond du bouton anglais */
    color: white; /* Couleur du texte du bouton anglais */
}


/* Section Me in 2 Minutes */
.me-2-minutes h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.VIDEOtexte {
    font-family: 'Pacifico', cursive; /* Applique la police "Pacifico" */
    text-align: center; /* Centre le texte */
    font-size: 3em; /* Ajustez la taille de la police selon vos besoins */
    color: #333; /* Couleur du texte, ajustez comme nécessaire */
    letter-spacing: 2px; /* Espace entre les lettres pour un effet plus délicat */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre légère pour donner de la profondeur */
}

.me-2-minutes video {
    margin-top: 10px;
    border-radius: 8px;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.TitreCEL{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.Attente {
    font-family: 'Pacifico', cursive; /* Applique la police "Pacifico" */
    text-align: center; /* Centre le texte */
    font-size: 3em; /* Ajustez la taille de la police selon vos besoins */
    color: #333; /* Couleur du texte, ajustez comme nécessaire */
    letter-spacing: 2px; /* Espace entre les lettres pour un effet plus délicat */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombre légère pour donner de la profondeur */

}

/*--------------------------------------------------------------------------------------------------------------------*/

.TitreLan {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.flags-container {
    position: relative; /* Position relative pour l'élément séparateur */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.separator {
    position: absolute; /* Position absolue pour pouvoir contrôler la ligne */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Épaisseur de la ligne verticale */
    height: 100%; /* Prend la hauteur complète du conteneur */
    background-color: rgba(0, 0, 0, 0.1); /* Couleur légère pour la ligne */
}

.separator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; /* Prend la largeur complète */
    height: 2px; /* Épaisseur de la ligne horizontale */
    background-color: rgba(0, 0, 0, 0.1); /* Couleur légère pour la ligne */
}

.flag-item {
    width: 45%; 
    text-align: center;
    margin-bottom: 20px;
    flex-direction: row;
}

.flag-item img {
    width: 275px; 
    height: 175px;
    margin-right: 20px;
}

.language-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.language-description {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}

.alhambra-image {
    width: 450px; /* Définissez la largeur que vous souhaitez */
    height: 250px; /* Cela maintiendra le ratio de l'image */
}

.Voyagefait {
    margin-left: 20%; /* Aligne la description avec le titre */
    line-height: 1.6; /* Espace entre les lignes pour faciliter la lecture */
    font-size: 18px; /* Taille du texte pour la description */
    white-space: pre-line; /* Respecte les retours à la ligne dans le HTML */    
    font-family: 'Roboto', sans-serif;
}

/* Style général */
.introduction, .future-introduction {
    font-size: 18px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.visited-destinations, .future-destinations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.destinations-list {
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.image-right {
    width: 200px;
    height: auto;
    margin-left: 20px;
}


.country {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.flag-image {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.country-info {
    max-width: 300px;
}

.country-name {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.country-description {
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.landscape-image {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

figcaption {
    font-size: 0.9em; /* Taille de police pour la description */
    color: #666; /* Couleur plus claire pour la description */
    text-align: center; /* Centrer le texte de la description */
    margin-top: 5px; /* Espacement au-dessus de la description */
}

.descriptionSemester {
    display: flex; /* Utiliser flexbox */
    flex-direction: column; /* Aligner les éléments verticalement */
    align-items: flex-start; /* Aligner à gauche */
    padding-left: 20px; /* Espace à gauche pour les points */
    font-family: 'Roboto', sans-serif;
}

.descriptionSemester::before {
    content: ""; /* Créer un pseudo-élément */
    margin-right: 10px; /* Espace entre le point et le texte */
    background: none; /* S'assurer qu'il n'y a pas de fond */
}

/*--------------------------------------------------------------------------------------------------------------------*/

.IMcontainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 20px 0;
}

.IMintro {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.IMsection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.IMleft, .IMright {
    width: 48%;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.COUNTRYTitle {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.COUNTRYDESCRIPTION {
    font-size: 20px; /* Ajustez cette valeur pour la taille souhaitée */
    padding-left: 20px; /* Espace à gauche pour les points */
    white-space: pre-line; /* Prend en compte les retours à la ligne */
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.TitreOA{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.judoImage{
    width: 300px; /* Largeur fixe */
    height: auto; /* Maintenir les proportions de l'image */
}